/*
background off white: #f8f8f8
background beige: #bdb08c


*/


html body {
  height: 100%;
  background-color: red;
  justify-content: center;
}

h1 {
  color: yellow;
}


#pokemon-list {
  height: 85%
}


