html body {
  height: 95%;
  background-color: red;
  justify-content: center;
}

h1 {
  color: yellow;
  text-shadow: 2px 2px black;
  text-align: center;
}
h2 {
  color: yellow;
  text-shadow: 2px 2px black;
}

.screen {
  margin: auto;
  width: 90%;
  background-color: #bdb08c;
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.pokemon {
  font-size: 14pt;
  min-width: 20%;
  background-color: #f8f8f8;
  color: black;
  padding: 10px;
}

.pokemon-info {
  margin-top: 20px;
  text-align: left;
  font-size: 25px;
}

.pokemon-image {
  align-self: flex-end;
  image-rendering: pixelated;
  margin: 10px 10px;
  height: 128px;
  width: 128px;
}

