html body {
  height: 95%;
  background-color: red;
  justify-content: center;
}

h1 {
  color: yellow;
  text-shadow: 2px 2px black;
  text-align: center;
}
h2 {
  color: yellow;
  text-shadow: 2px 2px black;
}

.screen {
  margin: 0 auto;
  width: 90%;
  background-color: #bdb08c;
  border-radius: 25px;
  height: 80%;
  margin-bottom: 25px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.pokemon {
  margin: 20px 50px;
  height: 200px;
  width: 80%;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f8f8f8;
  color: black;
  border-radius: 10px
}

.pokemon__active {
  border: 5px double black;
}

.pokemon-info {
  margin-top: 20px;
  text-align: left;
  font-size: 25px;
}

.pokemon-image {
  align-self: flex-end;
  image-rendering: pixelated;
  margin: 10px 10px;
  height: 128px;
  width: 128px;
}

.tallest {
  background-color: yellow;
}


nav {
	margin: 0 30%;
	display: flex;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	flex-direction: row;
	justify-content: center;
}

#arrow-back {
	transform-box: fill-box;
	transform-origin: center;
	transform: rotate(-90deg);
	filter: drop-shadow( -5px 5px 5px rgba(0, 0, 0, 1));
}

#arrow-next {
	transform-box: fill-box;
	transform-origin: center;
	transform: rotate(90deg);
	filter: drop-shadow( 5px 5px 5px rgba(0, 0, 0, 1));
	
}

.nav-button {
	flex-grow: 1;
	height: 50px;
	fill: yellow;
}

.menu {
    background-color:white;
	height: 90%;
    width: 100%;
    margin: 0 auto;
    padding-left: 10px;
}


.menu__title {
	color: black;
	text-align: center;
	font-size: 25px;
	font-Weight: 700;
	
}

.menu__header {
	color: red;
}
.menu__item {
	margin-below: 10px;
	margin-left: 20px;
}

.menu__item__active {/*adding a arrow to active menu item*/
	margin-left: 3px;
	display: list-item;
    list-style-type: disclosure-closed;       
    list-style-position: inside;
}